<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--<img src="https://farm66.staticflickr.com/65535/49273553017_5c7b156b81.jpg" alt="">-->
<div class="container">
{{#each pictures}}
    <div class="square-img"><img src="{{this}}" alt=""></div>
{{/each}}
</div>
