<div class="nav">
    <div class="logo"><a href="/"><img src="/images/logo.png" alt=""></a></div>
    <span class="index-text">Search Flickr photos...</span>
    <form class="form-group" name="tagForm" id="choice-form" method='post' action="/sets">
        <div class="form-group mb-2">
            <input type="text" class="form-control" id="inputChoice" name="tag" placeholder="...by tag">
            <input type="text" class="form-control" id="inputUser" name="username" placeholder="...by username">
            <button type="submit" class="btn btn-primary btn-block" id="inputChoiceBtn">Show</button>
        </div>
    </form>
    <span class="index-text">or just press the button</span>
    <button class="btn btn-outline-info btn-block" id="getRecentBtn">Recent photos</button>

</div>
<div class="container">
    {{#if pictures}}
        {{#each pictures}}
            <div class="square-img"><img src="{{this.url}}" alt="" id="{{this.id}}"></div>
        {{/each}}
    {{else}}
        <img src="/images/photo.png" alt="">
    {{/if}}
</div>
