body {
  padding: 10px;
  margin-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #1a1a1a;
}

a {
  color: #00B7FF;
}

.container {
  padding: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-left: 10px;
  box-sizing: border-box;
}

.square-img {
  margin: 2px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#choice-form,
#tag-form {
  align-items: flex-start;
}

#tag-form {
  align-self: flex-start;
}

.logo {
  align-items: flex-start;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  box-sizing: border-box;
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-info {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

.img-big {
  margin-bottom: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.form-control {
  margin-bottom: 10px;
}
